<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>RESPUESTA FORM ENVIADO</h1>
    <% let { nombre, color, edad, email } = data %>
    <p>Hola, <%= nombre %>, elegiste el color: <%= color %>, tu email es: <%= email %> y tu edad es: <%= edad %> </p>
    </body>
</html>
